.idea
.DS_Store
.pyc
.idea/*
.ideal/*.xml
*.log
logs
*.iml
.project
.classpath
.settings
*/target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*.ipr
*/*.iws
*.iws
*/build
*/logs
target
target/*
*/.idea/*
*/workspace.xml
.ipynb_checkpoints
new_submit.sh
debug.*
*.log
tmp.*
submit.sh
